<h1> Seja bem-vindo! </h1>

<p> Data: <%= date_br(Date.today) %> </p>

<ul>
    <li>
        <a href="/coins">Cadastrar Moedas</a>
    </li>
    <li>
        <%= link_to 'Cadastrar Moedas', coins_path %>
    </li>
</ul>
