<table class="table table-hover" border="1" cellpadding="10" cellspacing="0">
  <tbody>
    <tr id="<%= dom_id mining_type %>">
      <td><%= mining_type.description %></td>
      <td><%= mining_type.acronym %></td>
    </tr>
  </tbody>
</table>